<form action="/notifications" method="post">
    <label for="device">FCM device token</label>
    <input type="text" id="device" name="device">

    <label for="device">Topic</label>
    <input type="text" id="topic" name="topic">

    <label for="device">Redirect</label>
    <input type="text" id="redirect" name="redirect">

    <button type="submit">Submit</button>
</form>
