{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Website Policies</h1>
    <p>
        Our website is a playground where you can test OAuth authentication and FCM push notifications.
        We store only users' email addresses and are committed to protecting your privacy and providing
        a safe and secure online experience.
    </p>
    <p>
        Our website policies are designed to provide you with information about how we collect, use, and protect
        your personal information, as well as the terms and conditions that govern your use of our website.
    </p>

    <section>
        <h2>Privacy Policy</h2>
        <p>Our privacy policy outlines the types of personal information we collect, how we use that information,
            and the measures we take to protect your privacy. We respect your privacy and are committed to complying with
            all applicable data protection laws and regulations.
        </p>
    </section>

    <section>
        <h3>Information We Collect</h3>
        <p>We collect only the email addresses of our users for the purpose of providing access to our OAuth and FCM push notification testing services.</p>
    </section>

    <section>
        <h3>How We Use Your Information</h3>
        <p>We use your email address only for the purpose of providing access to our OAuth and FCM push notification testing services.</p>
    </section>

    <section>
        <h3>Protection of Information</h3>
        <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.</p>
    </section>

    <section>
        <h3>Terms of Use</h3>
        <p>
            By using our website, you agree to abide by our terms of use.
            These terms govern your use of our website and any content or services we offer.
            By using our website, you agree to comply with these terms and any applicable laws and regulations.
        </p>
    </section>

    <section>
        <h3>Use of Services</h3>
        <p>You may use our website only for the purpose of testing OAuth authentication and FCM push notifications. You may not use our website for any illegal or unauthorized purpose.</p>
    </section>

    <section>
        <h3>Limitations of Liability</h3>
        <p>We are not responsible for any damage, loss, or injury arising from the use of our website or the services provided through our website.</p>
    </section>

    <section>
        <h3>Cookie Policy</h3>
        <p>We do not use cookies on our website.</p>
    </section>

    <section>
        <h3>Contact Us</h3>
        <p>If you have any questions or concerns about our policies or your personal information, please contact us at herve.guigoz@gmail.com.</p>
    </section>

    <p>Thank you for visiting our website.</p>
{% endblock %}
